<h1 class="text-center">Our team</h1>
<ul class="list-inline text-center">
  <% ["anne", "seb", "romain"].each do |member| %>
    <li>
      <a href='<%="mailto:#{member.downcase}@airbnb.com"%>'>
      <h3><%= member.capitalize %></h3>
      <%= image_tag "#{member}.jpg", class: "avatar-extra" %>
      </a>
    </li>

  <% end %>
</ul>
<div class="text-center">
      <%= link_to "we hire", "index.html", class: "btn btn-danger" %>
</div>
<h3 class="padded text-center">
  <a href="mailto:contact@airbnb.com">
    <i class="fa fa-envelope"></i>
    contact@airbnb.com</a>
</h3>

